<div id="<%= dom_id post %>">
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= post.content %>
  </p>
  <p>
   Created at : <%= post.created_at.to_s.split[0,2].join(' ') %> by <%= post.user.email %>
  </p>

</div>
